@mixin animate($name, $duration, $delay: 0s, $iterations: infinite, $mode: forwards, $timing-function: linear) {
    -webkit-animation-name: $name;
    -moz-animation-name: $name;
    -o-animation-name: $name;
    animation-name: $name;
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    -o-animation-duration: $duration;
    animation-duration: $duration;
    -webkit-animation-delay: $delay;
    -moz-animation-delay: $delay;
    -o-animation-delay: $delay;
    animation-delay: $delay;
    -webkit-animation-fill-mode: $mode;
    -moz-animation-fill-mode: $mode;
    -o-animation-fill-mode: $mode;
    animation-fill-mode: $mode;
    -webkit-animation-iteration-count: $iterations;
    -moz-animation-iteration-count: $iterations;
    -o-animation-iteration-count: $iterations;
    animation-iteration-count: $iterations;
    -webkit-animation-timing-function: $timing-function;
    -moz-animation-timing-function: $timing-function;
    -o-animation-timing-function: $timing-function;
    animation-timing-function: $timing-function;
}