.click-block {
    position: relative;
    width: 55px;
    height: 55px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #333333;
    border-radius: 50%;
    opacity: 0.2;

    @include transition-duration(0.3s);

    @include transition-property(opacity);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: inherit;
        border-radius: inherit;
        opacity: 0;
    }

    .arrow {
        width: 0;
        height: 0;
        margin-top: 3px;
        margin-right: auto;
        margin-bottom: 5px;
        margin-left: auto;
        border-style: solid;
        border-width: 0 5px 10px 5px;
        border-color: transparent transparent #333333 transparent;
    }

    img {
        position: relative;
        display: block;
        margin: 0 auto;

        &.click {
            opacity: 0;
            top: -27px;
        }
    }

    &.active {
        opacity: 0.6;

        &::before {
            @include animate(circle-animation, 2s);
        }

        img.click {
            @include animate(blinking, 0.6s);
        }
    }
}

@include keyframes(blinking) {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


@include keyframes(circle-animation) {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    25% {
        opacity: 1;
        transform: scale(1.24);
    }

    50% {
        opacity: 0;
        transform: scale(1);
    }

    75% {
        opacity: 1;
        transform: scale(0.92);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}